<a href="/"><h1 align="center">Dashboard MJ</h1></a>
<a href="/" style="position: fixed; bottom: 2%; right: 2%; width: auto;"><h2 align="center">Retour</h2></a>
<div *ngIf="data">
    <mat-card>
        <h2 align="center">Calcul Prochain Tour</h2>
        <form [formGroup]="nextTurnForm">
            <mat-form-field>
                <mat-label>D10 Nourriture</mat-label>
                <input matInput type="number" formControlName="foodDice">
                <mat-error *ngIf="!this.nextTurnForm.controls['foodDice'].valid">Résultats uniquement de 0 à 9</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>D10 Santé</mat-label>
                <input matInput type="number" formControlName="healthDice">
                <mat-error *ngIf="!this.nextTurnForm.controls['healthDice'].valid">Résultats uniquement de 0 à 9</mat-error>
            </mat-form-field>

            <mat-form-field>
                <h5 style="color: black">Il y a {{numberCtites}} Salles à Ctites.</h5>
                <mat-label>Naissances</mat-label>
                <input matInput type="number" formControlName="birth">
                <mat-error *ngIf="!this.nextTurnForm.controls['birth'].valid">Cela dépasse le nombre de salles.</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Budget Militaire</mat-label>
                <input matInput type="number" formControlName="militaryBudget">
                <mat-error *ngIf="!this.nextTurnForm.controls['militaryBudget'].valid">Ceci n'est pas un budget.</mat-error>
            </mat-form-field>

            <button type="submit" [disabled]="!nextTurnForm.valid" mat-raised-button color="primary" (click)="compute()">Calculer</button>
        </form>
    </mat-card>
</div>
