html, body { height: 100%; }

/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#feccb1+0,f17432+50,ea5507+51,fb955e+100;Red+Gloss+%232 */
body{
    /*background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),
    url("assets/wall.png");*/
    background: linear-gradient(90deg, #04003e 0%,#174e89 62%,#207dff 80%, #20a9ff 100%);
}

/* All texts */
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/* Titles */
h1, h2, h3 {
    font-family: 'Kino MT', 'Times New roman', Times, serif;
    color: whitesmoke;
    margin: 12px;
}

h1, h2 {
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

h3 {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}


/* Key words */
h4 {
    font-family: 'Times New Roman', Times, serif;
    color: whitesmoke;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

/* Texts */
h5, h6 {
    font-family: 'Times New Roman', Times, serif;
    color: whitesmoke;
}

/* Sizes */
h1 {
    font-size: 350%;
}

h2 {
    font-size: 250%;
}

h3 {
    font-size: 180%;
}

h4 {
    font-size: 120%;
}

h5 {
    font-size: 100%;
}

h6 {
    font-size: 60%;
}

/* Tables */
table{
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 2%;
    margin-top: 0%;
}

/* Class */
/* To represents in the same line */
.inline {
    display: inline-block;
    vertical-align: top;
}

.subtitle {
    margin-left: 42px;
}

section {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.black-text {
    color: black;
    text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF;
}

a {
    text-decoration: none;
}