mat-card{
    margin: 10px;
    display: flex;
    flex-direction: row;
    padding: 6px;
    background: linear-gradient(#ff9d00 0%,#eeff00 100%);
}

.senator {
    width: 10%;
    min-width: 100px;
    display: flex;
    flex-direction: column;
}

.icon-column {
    width: 10%;
    min-width: 20px;
}

.name-column {
    width: 90%;
}

.mat-icon {
    vertical-align: middle;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
