<h1 align="center">Xorghluflux Saison 2</h1>
<h2>Chapitre 1</h2>
<h5>Nous sommes tous très contents d'être ici. Il est important de manger des fruits, des légumes et principalement du pain pour survivre. Les canards domineront le monde d'ici 15 à 20 jours. Je n'ai aucune opinion politique à transmettre dans ce site internet.</h5>
<h3>Un nouveau départ</h3>
<h5>Il n'est pas évident d'être sois même, surtout dans des temps de crise. Et nous arrivons dans un temps de crise. Le pays au 9 sénateurs va bientôt entrer dans la tourmente.</h5>
<h5>Ceci pourrait être un texte classique non ?</h5>
<h3>Une histoire de poil</h3>
<h5>Il est impensable qu'une Xorghluflux soit dénudé. Leur poil, bien que léger, est un composant essentiel de leur bien être. Un grand Xorghluflux a dit un jour : "zf zefg oobdf jhsd", ce qui peut abrutement se traduire par : "Cailloux casser toi si toi continuer", même si cela n'a rien à voir nous sommes heureux d'avoir pu dialoguer.</h5>
<h3>Voler</h3>
<h5>Un jour ou l'autre, il faut savoir prendre son envol. Et si le pays des 9 sénateurs a bien compris quelque chose, c'est qu'il ne devait pas être le dernier à s'envoler. On pense parfois qu'il est nécessaire d'avoir des ailes, mais c'est bien faux, il faut juste une falaise. Ou un endroit bien haut.</h5>
<table>
    <tr>
        <td><h4>Taille</h4></td>
        <td><h4>{{data.species.taille}}</h4></td>
    </tr>
    <tr>
        <td><h4>Force</h4></td>
        <td><h4>{{data.species.force}}</h4></td>
    </tr>
    <tr>
        <td><h4>Agilité</h4></td>
        <td><h4>{{data.species.agilite}}</h4></td>
    </tr>
    <tr>
        <td><h4>Dextérité</h4></td>
        <td><h4>{{data.species.dexterite}}</h4></td>
    </tr>
    <tr>
        <td><h4>Intelligence</h4></td>
        <td><h4>{{data.species.intelligence}}</h4></td>
    </tr>
    <tr>
        <td><h4>Mécanique</h4></td>
        <td><h4>{{data.species.mecanique}}</h4></td>
    </tr>
    <tr>
        <td><h4>Psychisme</h4></td>
        <td><h4>{{data.species.psychisme}}</h4></td>
    </tr>
    <tr>
        <td><h4>Xénophilie</h4></td>
        <td><h4>{{data.species.xenophilie}}</h4></td>
    </tr>
    <tr>
        <td><h4>Charisme</h4></td>
        <td><h4>{{data.species.charisme}}</h4></td>
    </tr>
</table>
<img src="assets/zugle2_140.png" alt="Zugle">
<img src="assets/flo3_140.png" alt="Zugle">
<img src="assets/zugle2_140.png" alt="Zugle">
<img src="assets/flo3_140.png" alt="Zugle">
<img src="assets/zugle2_140.png" alt="Zugle">
<img src="assets/flo3_140.png" alt="Zugle">
