<h1 align="center">Xorghluflux Saison 2</h1>
<h3 class="subtitle">Le Sénat</h3>
<mat-card>
    <span class="inline senator" *ngFor='let s of data.senators; let i=index'>
        <img style="align-self: center; width: 90%;" src="assets/{{s.name}}_140.png" alt="image de {{s.name}}">
        <h4 align="center">{{s.fullname}}</h4>
    </span>
</mat-card>

<h3 class="subtitle">Une histoire de poil</h3>
<h5>Il est impensable qu'une Xorghluflux soit dénudé. Leur poil, bien que léger, est un composant essentiel de leur bien être. Un grand Xorghluflux a dit un jour : "zf zefg oobdf jhsd", ce qui peut abrutement se traduire par : "Cailloux casser toi si toi continuer", même si cela n'a rien à voir nous sommes heureux d'avoir pu dialoguer.</h5>
<div style="width: 100%;">
    <table class="inline">
        <tr>
            <th colSpan="2"><h3 align="center">Statistiques</h3></th>
        </tr>
        <tr>
            <td><h4>Taille</h4></td>
            <td><h4 align="right">{{data.species.taille}}</h4></td>
        </tr>
        <tr>
            <td><h4>Force</h4></td>
            <td><h4 align="right">{{data.species.force}}</h4></td>
        </tr>
        <tr>
            <td><h4>Agilité</h4></td>
            <td><h4 align="right">{{data.species.agilite}}</h4></td>
        </tr>
        <tr>
            <td><h4>Dextérité</h4></td>
            <td><h4 align="right">{{data.species.dexterite}}</h4></td>
        </tr>
        <tr>
            <td><h4>Intelligence</h4></td>
            <td><h4 align="right">{{data.species.intelligence}}</h4></td>
        </tr>
        <tr>
            <td><h4>Mécanique</h4></td>
            <td><h4 align="right">{{data.species.mecanique}}</h4></td>
        </tr>
        <tr>
            <td><h4>Psychisme</h4></td>
            <td><h4 align="right">{{data.species.psychisme}}</h4></td>
        </tr>
        <tr>
            <td><h4>Xénophilie</h4></td>
            <td><h4 align="right">{{data.species.xenophilie}}</h4></td>
        </tr>
        <tr>
            <td><h4>Charisme</h4></td>
            <td><h4 align="right">{{data.species.charisme}}</h4></td>
        </tr>
    </table>
    <div align="center" class="inline">
        <h3 align="center">Carte</h3>
        <img  [src]="srcmap" (mouseover)='srcmap="assets/map_annote.png"' (mouseout)='srcmap="assets/map.png"' alt="Carte du monde">
    </div>
    <div class="inline" style="margin-left: 3%; margin-right: 3%;">
        <div>
            <th colSpan="2"><h3 align="center">Autres Nations</h3></th>
        </div>
        <div style="border-bottom: 1px black solid;" *ngFor="let n of data.pnj">
            <td class="name-column"><h4>{{n.fullname}}</h4></td>
            <td class="icon-column">
                <div [ngSwitch]="n.relation">
                    <mat-icon *ngSwitchCase="relationType.neutral" style="color: #ddff00;">sentiment_dissatisfied</mat-icon>
                    <mat-icon *ngSwitchCase="relationType.bad" style="color: #ff0000;">sentiment_dissatisfied</mat-icon>
                    <mat-icon *ngSwitchCase='relationType.good' style="color: #00FF00;">tag_faces</mat-icon>
                    <mat-icon *ngSwitchCase='relationType.war' style="color: #ff0000;">offline_bolt</mat-icon>
                    <mat-icon *ngSwitchCase='relationType.ally' style="color: #00FF00;">security</mat-icon>
                    <mat-icon *ngSwitchCase='relationType.coldwar' style="color: #00ffff;">ac_unit</mat-icon>
                    <mat-icon *ngSwitchCase='relationType.trade' style="color: #ddff00;">monetization_on</mat-icon>
                    <mat-icon *ngSwitchCase='relationType.love' style="color: #ff0000;">favorite</mat-icon>
                </div>
            </td>
            <tr *ngFor="let pnj of n.characters">
                <h4 style="color: black; text-shadow: none; margin-left:20px;">- {{pnj.name}}</h4>
                <td class="icon-column">
                    <div [ngSwitch]="pnj.relation">
                        <mat-icon *ngSwitchCase="relationType.neutral" style="color: #ddff00;">sentiment_dissatisfied</mat-icon>
                        <mat-icon *ngSwitchCase="relationType.bad" style="color: #ff0000;">sentiment_dissatisfied</mat-icon>                        <mat-icon *ngSwitchCase='relationType.good' style="color: #00FF00;">tag_faces</mat-icon>
                        <mat-icon *ngSwitchCase='relationType.good' style="color: #00FF00;">tag_faces</mat-icon>
                        <mat-icon *ngSwitchCase='relationType.war' style="color: #ff0000;">offline_bolt</mat-icon>
                        <mat-icon *ngSwitchCase='relationType.ally' style="color: #00FF00;">security</mat-icon>
                        <mat-icon *ngSwitchCase='relationType.coldwar' style="color: #00ffff;">ac_unit</mat-icon>
                        <mat-icon *ngSwitchCase='relationType.trade' style="color: #ddff00;">monetization_on</mat-icon>
                        <mat-icon *ngSwitchCase='relationType.love' style="color: #ff0000;">favorite</mat-icon>
                    </div>
                </td>
            </tr>
        </div>
    </div>
    <div align="center" class="inline" style="width: 20%; min-width: 200px;" *ngIf="data.lastReport">
        <h3>Dernier rapport annuel</h3>
        <h5>{{data.lastReport}}</h5>
    </div>
</div>
